/* Police */

@font-face
{
    font-family: 'Raleway';
    src: url('police/Raleway-Medium.ttf');
}

/* HTML */
html
{
    font-family:'Raleway', sans-serif;
    margin: 1em;
}

/* Header */

/* Navbar*/

.container_nav
{
    height: 70px;
    display: flex;
}

#element_logo
{
    height: 2em;
    align-self: center;
}

.element_liens_header
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.8em;
}

.element_liens_header li
{
    color: black;
    text-decoration: none;
}

.element_liens_header>li>a
{
    color: black;
    text-decoration: none;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.element_liens_header>li>a:focus
{
    color: #0065FC !important;
    text-decoration: none;
    border-top: 1px solid #0065FC;
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.element_lien_inscription
{
    align-self: center;
    font-weight: bold;
    margin: 2em;
    color: #0065FC !important;
    text-decoration: none;
    font-size: 0.8em;
}

/* Titre H1 & H2 */

.container_titre_header
{
    font-size: 0.6em;
}

.container_titre_header h2
{
    font-weight: 100;
}

/* Recherche */

.container_recherche
{
    display: flex;
}

/* Icone 'position' */

.container_recherche i
{
    background-color: #F2F2F2;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border: 1px solid #F2F2F2;
    padding: 0.5em;
}

/* Terme de recherche */

.container_recherche_form
{
    display: flex;
}

#element_terme_recherche
{
    height: 2.5em;
    border: 1px solid #F2F2F2;
}

.element_btn_recherche
{
    height: 2.5em;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid white;
    width: 100%;
}

/* Filtres */

.element_filtres
{
    font-size: 0.8em;
}

.filtres_row>td>button
{
    height: 36px;
    border: 1px solid #F2F2F2;
    background-color: white;
    text-align-last: start;
    padding-left: 0px;
    padding-top: 0px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px 50px 50px 50px;
    margin: 1.5em;
    font-size: 1em;
}

.filtres_row>td>button:hover
{
    height: 36px;
    border: 1px solid #F2F2F2;
    background-color: white;
    text-align-last: start;
    padding-left: 0px;
    padding-top: 0px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px 50px 50px 50px;
    margin: 1.5em;
    font-size: 1em;
    color: #0065FC;    
}

/* Icones */

.filtres_row>td>button>i
{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 10px;
    color: #0065FC;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    text-align-last: center;
    align-self: center;
    display: inline;
}

/* Information */

.container_information
{
    display: flex;
    font-size: 0.6em;
}

.container_information i
{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    color: #0065FC;
    margin-right: 10px;
    height: 8px;
    width: 8px;
    text-align-last: center;
    border: 1px solid #F2F2F2;
    align-self: center;
}